In [2]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)')

In [14]:
df_lot=df[2]
df_lot.head()

,0,1,2,3,4,5,6
0,Rank,Country or area,UN continentalregion[2],UN statisticalregion[2],Population(1 July 2016)[3],Population(1 July 2017)[3],Change
1,—,World,—,—,7466964280,7550262101,+1.1%
2,1,China[a],Asia,Eastern Asia,1403500365,1409517397,+0.4%
3,2,India,Asia,Southern Asia,1324171354,1339180127,+1.1%
4,3,United States,Americas,Northern America,322179605,324459463,+0.7%

In [38]:
df_50=df_lot[:52]

In [39]:
df_50

,0,1,2,3,4,5,6
0,Rank,Country or area,UN continentalregion[2],UN statisticalregion[2],Population(1 July 2016)[3],Population(1 July 2017)[3],Change
1,—,World,—,—,7466964280,7550262101,+1.1%
2,1,China[a],Asia,Eastern Asia,1403500365,1409517397,+0.4%
3,2,India,Asia,Southern Asia,1324171354,1339180127,+1.1%
4,3,United States,Americas,Northern America,322179605,324459463,+0.7%
5,4,Indonesia,Asia,South-eastern Asia,261115456,263991379,+1.1%
6,5,Brazil,Americas,South America,207652865,209288278,+0.8%
7,6,Pakistan,Asia,Southern Asia,193203476,197015955,+2.0%
8,7,Nigeria,Africa,Western Africa,185989640,190886311,+2.6%
9,8,Bangladesh,Asia,Southern Asia,162951560,164669751,+1.1%
10,9,Russia,Europe,Eastern Europe,146864513,143989754,−2.0%
11,10,Mexico,Americas,Central America,127540423,129163276,+1.3%
12,11,Japan,Asia,Eastern Asia,127748513,127484450,−0.2%
13,12,Ethiopia,Africa,Eastern Africa,102403196,104957438,+2.5%
14,13,Philippines,Asia,South-eastern Asia,103320222,104918090,+1.5%
15,14,Egypt,Africa,Northern Africa,95688681,97553151,+1.9%
16,15,Vietnam,Asia,South-eastern Asia,94569072,95540800,+1.0%
17,16,Germany,Europe,Western Europe,81914672,82114224,+0.2%
18,17,Democratic Republic of the Congo,Africa,Middle Africa,78736153,81339988,+3.3%
19,18,Iran,Asia,Southern Asia,80277428,81162788,+1.1%
20,19,Turkey,Asia,Western Asia,79512426,80745020,+1.6%
21,20,Thailand,Asia,South-eastern Asia,68863514,69037513,+0.3%
22,21,United Kingdom,Europe,Northern Europe,65788574,66181585,+0.6%
23,22,France[b],Europe,Western Europe,64720690,64979548,+0.4%
24,23,Italy,Europe,Southern Europe,59429938,59359900,−0.1%
25,24,Tanzania[c],Africa,Eastern Africa,55572201,57310019,+3.1%
26,25,South Africa,Africa,Southern Africa,56015473,56717156,+1.3%
27,26,Myanmar,Asia,South-eastern Asia,52885223,53370609,+0.9%
28,27,South Korea,Asia,Eastern Asia,50791919,50982212,+0.4%
29,28,Colombia,Americas,South America,48653419,49065615,+0.8%
30,29,Kenya,Africa,Eastern Africa,48461567,49699862,+2.6%
31,30,Spain[d],Europe,Southern Europe,46347576,46354321,NaN
32,31,Argentina,Americas,South America,43847430,44271041,+1.0%
33,32,Ukraine[e],Europe,Eastern Europe,44438625,44222947,−0.5%
34,33,Uganda,Africa,Eastern Africa,41487965,42862958,+3.3%
35,34,Algeria,Africa,Northern Africa,40606052,41318142,+1.8%
36,35,Sudan,Africa,Northern Africa,39578828,40533330,+2.4%
37,36,Iraq,Asia,Western Asia,37202572,38274618,+2.9%
38,37,Poland,Europe,Eastern Europe,38224410,38170712,−0.1%
39,38,Canada,Americas,Northern America,36289822,36624199,+0.9%
40,39,Morocco,Africa,Northern Africa,35276786,35739580,+1.3%
41,40,Afghanistan,Asia,Southern Asia,34656032,35530081,+2.5%
42,41,Saudi Arabia,Asia,Western Asia,32275687,32938213,+2.1%
43,42,Peru,Americas,South America,31773839,32165485,+1.2%
44,43,Venezuela,Americas,South America,31568179,31977065,+1.3%
45,44,Uzbekistan,Asia,Central Asia,31446795,31910641,+1.5%
46,45,Malaysia[f],Asia,South-eastern Asia,31187265,31624264,+1.4%
47,46,Angola,Africa,Middle Africa,28813463,29784193,+3.4%
48,47,Mozambique,Africa,Eastern Africa,28829476,29668834,+2.9%
49,48,Nepal,Asia,Southern Asia,28982771,29304998,+1.1%
50,49,Ghana,Africa,Western Africa,28206728,28833629,+2.2%
51,50,Yemen,Asia,Western Asia,27584213,28250420,+2.4%

In [40]:
colnames = df_50.loc[0].values

In [41]:
colnames

array(['Rank', 'Country or area', 'UN continentalregion[2]',
       'UN statisticalregion[2]', 'Population(1 July 2016)[3]',
       'Population(1 July 2017)[3]', 'Change'], dtype=object)

In [42]:
df_50.columns = colnames

In [43]:
Asia = df_50[(df_50['UN continentalregion[2]']=='Asia')]

In [44]:
Asia

,Rank,Country or area,UN continentalregion[2],UN statisticalregion[2],Population(1 July 2016)[3],Population(1 July 2017)[3],Change
2,1,China[a],Asia,Eastern Asia,1403500365,1409517397,+0.4%
3,2,India,Asia,Southern Asia,1324171354,1339180127,+1.1%
5,4,Indonesia,Asia,South-eastern Asia,261115456,263991379,+1.1%
7,6,Pakistan,Asia,Southern Asia,193203476,197015955,+2.0%
9,8,Bangladesh,Asia,Southern Asia,162951560,164669751,+1.1%
12,11,Japan,Asia,Eastern Asia,127748513,127484450,−0.2%
14,13,Philippines,Asia,South-eastern Asia,103320222,104918090,+1.5%
16,15,Vietnam,Asia,South-eastern Asia,94569072,95540800,+1.0%
19,18,Iran,Asia,Southern Asia,80277428,81162788,+1.1%
20,19,Turkey,Asia,Western Asia,79512426,80745020,+1.6%
21,20,Thailand,Asia,South-eastern Asia,68863514,69037513,+0.3%
27,26,Myanmar,Asia,South-eastern Asia,52885223,53370609,+0.9%
28,27,South Korea,Asia,Eastern Asia,50791919,50982212,+0.4%
37,36,Iraq,Asia,Western Asia,37202572,38274618,+2.9%
41,40,Afghanistan,Asia,Southern Asia,34656032,35530081,+2.5%
42,41,Saudi Arabia,Asia,Western Asia,32275687,32938213,+2.1%
45,44,Uzbekistan,Asia,Central Asia,31446795,31910641,+1.5%
46,45,Malaysia[f],Asia,South-eastern Asia,31187265,31624264,+1.4%
49,48,Nepal,Asia,Southern Asia,28982771,29304998,+1.1%
51,50,Yemen,Asia,Western Asia,27584213,28250420,+2.4%